.ServiceDetails{
    /* border:1px solid black; */
}
.ServiceDetails {
    background-color: none!important;
    margin-left: 15px;
    background: transparent;
    color: chartreuse;
    font-size: 1.2rem;
    border: 1px solid;
}
.ServiceDetails img.img-fluid.mb-3 {
    width: 100%;
}