.headerContainer {
    width:100%;
}
Carousel.Item > img {
    width:740px;
    height:360px;
  }
  .heading {
      font-size: 5rem;
  }
  .headingQuote{
      font-size:2rem;
      font-style: italic;
  }