.book label,input{
    width:45%;
    margin-left: 3%;
}
.book h2{
    text-align:left;
    /* margin-top: 5%; */
}
.headSection{
    /* border: 1px solid red; */
    margin-bottom: 5%;
    margin-top: 2%;
    width: 90%;
}
.userDetail h5{
    width: 50%;
    padding: 1%;
    background: #f3f0f0;
}
.book{
    margin-left: 20%;
    top: 0;
    width: 80%;
    position: absolute;

}
#submit {
    border: 2px solid blue;
    width: 7rem;
    height: 2rem;
    margin-top: 5%;
    background: greenyellow;
    border-radius: 20px;
    margin-left: 5%;
}
span.descriptionSection {
    margin-left: -56%;
}
span.priceSection{
    /* border: 1px solid blue; */
    margin-left: -62%;
}
span.nameSection,.email{
    /* border: 1px solid blue; */
    margin-left: 2%;
}
.paymentDetails{
    border: 1px solid blue;
    width: 50%;
    padding: 1%;
}

@media (max-width: 688px){
    #submit{
        margin-top:0%!important;
        width: 30%!important;
    }
    
.book label{
    width: 75%!important;
    margin-left: 0%!important;
}
}